* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;    
}

@font-face {
    font-family: acherus;
    src: url(../Fonts/Acherus/Acherus\ Grotesque\ Updated/);
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #ECECEC;
    display: grid; 
    grid-template-rows: 50px 1fr 1fr 50px;
}
.navbar{
    width: 95%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px; 
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px; 
    width: 0; 
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px; 
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.logo {
    width: 95px;
    cursor: pointer; 
}
.header{
    font-family: acherus;
    background-color: chocolate;
    height: 5vh;
    text-align: center;
}
.footer{
    background-color: pink;
}